*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

/* main */
main{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

/* aside */
aside span,
main .box span{
  background-color: rgba(37, 35, 35, 0.788);
  padding: .3rem;
  margin-right: .3rem;
}

aside div{
  position: absolute;
  top: 2rem;
  right: 0;
}

aside span{
  border-radius: 5px;
}
/* end aside */

/* video section */
section{
  width: 100%;
  max-width: 1400px;
  height: 80vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 12rem;
  height: 7.5rem;
  background-image: url(https://picsum.photos/200/300);
  margin: .2rem;
  position: relative;
}

.box span{
  bottom: 0;
  position: absolute;
}
/* end video section */

/* nav */

nav{
  position: fixed;
  height: calc(100vh - 5rem);
  z-index: 1;
  display: flex;
  align-items: flex-end;
}

nav div.container{
  width: 100vw;
  height: 3.5rem;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
}


ul li{
  list-style: none;
  display: inline-block;
  padding: .3rem;
  justify-content: center;
  font-size: .8rem;
  vertical-align: middle;
  text-align: center;
}

nav i{
  font-size: 1.7rem;

}

nav button{
  padding: 0 .5rem;
  color: red;
  background-color: #4a4a4a;
  border: none;
}

i.fa-angle-up{
  font-size: .8rem;
}

i.fa-share-from-square{
  color: #4ac700;
}

/* end nav */