*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

main{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

section{
  width: 100%;
  max-width: 1400px;
  height: 80vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 12rem;
  height: 7.5rem;
  background-image: url(https://picsum.photos/200/300);
  margin: .2rem;
}
